html {
    margin:0;
    padding:0;
}
body {
    color: white;
    background-color: darkgrey;
    /*padding-left:11em;*/
    font-family: Georgia, "Times New Roman",
    Times, serif;
    margin: 0px;
}
body {
    background-image: url('../Pictures/20190218_154015.jpg') ;
    background-position: top right;
    background-repeat:no-repeat;
    background-size: 370px 370px;
    background-attachment: fixed;
}
.navbar
{
    overflow: hidden;
    margin-left: 7em;/*pushes the navbar 7em to the left*/;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: flex;
    justify-content:space-between;

}
.logoclass{
    margin-right:340px;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: darkgrey;
}

.topnav a:hover {
    background-color: cadetblue;
    color: black;
}
.contacts{margin-left: 340px;
    margin-right:7em;
}
.contacts a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.contacts a:hover {
    background-color: cadetblue;
    color: black;
}

    /*.topnav a.active {
        background-color: #04AA6D;
        color: white;
    }*/
.welcomepage{
    margin-top: 8em;
    margin-left: 7em;

}
.skills {
    overflow: hidden;
    background-color: black;
    margin: 68px 0px 0px 0px;
}
.skills1 {
    overflow: hidden;
    background-color: black;
    margin: 600px 0px 0px 0px;
}
.About_Me{
    margin-left: 7em;
    margin-right: 7em;
}


