html {
    margin:0;
    padding:0;
}
body {
    color: white;
    background-color: darkgrey;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    margin: 0;
}
body {
    background-image: url('../Pictures/profile-picture.jpeg') ;
    background-position: top right;
    background-repeat:no-repeat;
    background-size: 300px 390px;
    background-attachment: scroll;
}
.navbar
{
    justify-content: space-between;
    display: flex;
    padding-left: 7em;
    padding-right: 7em;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    max-width: 100%;
    font-size: 17px;
    margin: auto;

}

.navbarcenter a {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    background-color: darkgrey;
}

.navbarcenter a:hover {
    background-color: cadetblue;
    color: black;
}


.navbarrightside a {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 18px;/* setting the topand bottom paddings respectively*/

}
.navbarrightside a:hover {
    background-color: cadetblue;
    color: black;
}

.welcomepage{
    padding-left: 7em;
    padding-right: 7em;
    margin-top: 8em;
}
.skills {
    padding-left: 7em;
    padding-right: 7em;
    overflow: hidden;
    background-color: black;

}
.skillslogo {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.Whatican_Logo{

}

.About_Me{

    margin-right: 25em;
}


