html {
    margin:0;
    padding:0;
}
body {
    color: white;
    background-color: darkgrey;
    /*padding-left:11em;*/
    font-family: Georgia, "Times New Roman",
    Times, serif;
}
body {
    background-image: url('../Pictures/20190218_154015.jpg') ;
    background-position: top right;
    background-repeat:no-repeat;
    background-size: 350px 350px;
}
.topnav {
    overflow: hidden;
    margin-left: 11em;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.skills {
    overflow: hidden;
    background-color: black;
}
